.container {
    display: inline;
}

.content{
    width: 60vw;
    float: left;
    margin: 1vw;
}

.profile{
    /*width: 40vw;*/
    display: flex;
    margin: 1vw;
}

.profileImg{
    width: 3vw;
    height: 3vw;
    border-radius: 3vw;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    /* display: inline-block; */
    margin-right: 1vw;
}

.profileImg img{
    width: 6vw;
    height: auto;
    margin-left: -2vw;
}

.profileText{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nickname {
    font-size: 15px;
    display: inline;
    color: #4C4C4C;
    margin: -1px;
}

.time{
    font-size: 11px;
    margin-top: -0.1vh;
    color: gray
}

.image{
    width: 25vw;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    float: right;
    margin: 1vw;
    margin-right: 2vw;
}

.image img{
    width: 30vw;
    height: auto;
    margin-left: -1.5vw;
}

.text{
    font-size: 14px;
    color: gray;
}

.share{
    width: 1.5vw;
    float: right;
    filter: opacity(40%)
}