.container{
  display: flex;
  justify-content: left;
  /*align-items: center;*/
}
.modal{
  width: 300px;
  margin-top: 20px;
  padding: 20px;
  background: #eee;
  text-align: left;
  display: inline-block;
}

.title {
  cursor: pointer;
  display: inline;
}